<ol class="breadcrumb">
  <li><a ng-href="{{ path('UserIndexCtrl') }}">Dashboard</a></li>
  <li class="active">Users</li>
  <li class="active" ng-hide="user.id">New</li>
  <li class="active" ng-show="user.id">{{ user.fullName }}</li>
  <li class="active" ng-show="user.id">Edit</li>
</ol>

<div class="page-header">
  <h2>{{user.id ? 'Edit ' : 'Add new'}} user</h2>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-2">
    <form class="form-horizontal">
      <h3>Basic information</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render :partial => 'templates/forms/text', :object => 'firstName', :locals => {:model => 'user'} %>
          <%= render :partial => 'templates/forms/text', :object => 'lastName', :locals => {:model => 'user'} %>
          <%= render :partial => 'templates/forms/text', :object => 'email', :locals => {:type => 'email', :model => 'user'} %>
        </div>
      </div>
      <h3>Division <small>(optional)</small></h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render :partial => 'templates/forms/text', :object => 'employeeNumber', :locals => {:model => 'user'} %>
          <%= render :partial => 'templates/forms/text', :object => 'position', :locals => {:model => 'user'} %>
          <%= render :partial => 'templates/forms/text', :object => 'department', :locals => {:model => 'user'} %>
        </div>
      </div>
      <h3>Password</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render :partial => 'templates/forms/text', :object => 'password', :locals => {:type => 'password', :model => 'user'} %>
          <div ng-hide="user.id">
            <%= render :partial => 'templates/forms/text', :object => 'confirmPassword', :locals => {:type => 'password', :model => 'user'} %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
          <button ng-click="saveUser()" type="submit" ng-disabled="!(user.id || (user.password && user.password == user.confirmPassword))" class="btn btn-success">Submit</button>
          <a ng-href="{{ path('UserIndexCtrl') }}" class="btn btn-default">Back</a>
        </div>
      </div>
    </form>
  </div>
</div>
