<!DOCTYPE html>
<html>
<head>
  <title>Gem Project</title>
  <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body <% unless content_for?(:static) %>ng-app="app"<% end %>>

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="/" target="_self">Gem Project</a>

      <% if user_signed_in? %>
        <div class="navbar-text navbar-right">
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :target => "_self" %>
        </div>
        <div class="navbar-text navbar-right">
          Signed in as <strong><%= current_user.email %></strong>
        </div>
      <% else %>
        <div class="navbar-text navbar-right">
          <%= link_to "Sign in", new_user_session_path, :target => "_self" %>
        </div>
      <% end %>
    </div>
  </nav>

  <div class="bg">
    <% if content_for?(:static)  %>
      <div class="container">
      <% [:notice, :error, :success, :info, :alert].each do |key| %>
        <% if flash[key].present? %>
        <div class="alert alert-<%= key %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= flash[key] %>
      </div>
    <% end %>
    <% end %>
    </div>
    <div class="container">
      <%= yield(:static) %>
    </div>
  <% else %>
      <div ng-view class="container">
      <%= yield %>
    </div>
  <% end %>
  </div>

  <footer>
    <div class="container">
      Gem Project &copy; 2014
    </div>
  </footer>

</body>
</html>
